.blog-item-container
{
    justify-content: center !important;
}
.blogs-background {
    background: url("../../../../public/blogs-background.png") no-repeat;
    background-attachment: fixed;
}

.blog-heading
{
    margin: 1.5rem;
    color: purple;
}
.blog-images
{
    height: fit-content;
    width: 25vw;
    object-fit: cover;
}