body{
    background-color: black;
}
.blogs-card
{
    color:white;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 300ms;
    cursor: pointer;
    box-shadow: 0.2rem 0.18rem 1rem 0.25rem #8888884a;
}
.blogs-container-heading
{
    color:white;
}
.blogs-card:hover
{
    box-shadow: 0.2rem 0.18rem 1rem 0.25rem #888888e3;
    transform: scale(1.1);
}
.blogs-image-small
{
    height: 20rem;
    width:20rem;
    object-fit: scale-down;
    border-radius: 1rem;
}

.blogs-image-large
{
    height: 30rem;
    width:30rem;
    object-fit: contain;
    border-radius: 1rem;
}
.all-blogs-button-container
{
    justify-content: end !important;
    margin: 0 2rem;
}
.show-all-blogs-arrow
{
    background-color: black;
    color: #39FF14;

    padding: 0.9rem 1.6rem;
    border: 0.1rem solid #39FF14;
    border-radius:3rem;
    box-shadow: 0 0 1rem 0.25rem #c2c2c263;
    transition: all 300ms;
    cursor: pointer;

}
.show-all-blogs-arrow:hover
{
    color: black;
    transform: scale(1.09);
    background-color: white;

}


@media (max-width: 700px) {
    .blogs-image-large
    {
        height:20rem;
        width: 20rem;
    }
}
@media (max-width: 500px) {
    .blogs-image-large
    {
        height:17rem;
        width: 17rem;
    }
}