header{
    background-color: black;
    min-height: 80vh;
    width: 100vw;
}
.home-name
{
    transition: all 300ms;
}
.home-name:hover
{
    color:#39FF14;
    cursor: none;
    transform: scale(1.01);
}
.heading
{
    color: white;
    padding: 1.3rem;
}
.main-header-container
{
    margin: 1rem;
    justify-content: space-around !important;
    flex-wrap: wrap-reverse !important;
}
.about-content-container
{
    color: white;
    max-width: 40%;
}
.about-content {
    margin-bottom: 0.5rem;
}
.profile-photo
{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50% ;
    border: 0.15rem solid #39FF14;
    padding: 0.5em;
    margin-bottom: 1rem;
}
.about-know-more
{
    color: #39FF14;
    cursor: pointer;
    transition: all 300ms;
}
.about-know-more:hover
{
color:rgba(57, 255, 20, 0.6)
}

@media (max-width: 600px) {
    .about-content-container {
        max-width: 80%;
    }
    .profile-photo {
        width: 15rem;
        height: 15rem;
    }
}